.MainMap {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: hidden;
}
.MapLeftContainer {
  min-height: 100vh;
  height: auto;
  width: 40vw;
  min-width: 600px;
  background-color: #EEEEEE;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}
.MapLeftContainerHeader {
  height: auto;
  /* padding: 15px; */
  background-color: #00A1FF;
  width: 100%;
}
.HeaderTripDetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #FFFFFF;
  justify-content: space-around;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.TripsTitle, .DurationTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}
.MapLeftContainerTitle {
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  margin: 10px;
}
.tripDetailsTitle {
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.MapRightContainer {
  height: 100%;
  width: 60vw;
  /* min-width: 100%; */
}
.tripDetails {
  width: 250px;
  margin: 15px 0 0 20px;
  border-radius: 4px;
  height: 189px;
  padding: 10px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(191,191,191,0.6);
  -moz-box-shadow: 0px 0px 10px 5px rgba(191,191,191,0.6);
  box-shadow: 0px 0px 10px 5px rgba(191,191,191,0.6);
}
.TripRow {
  display: flex;
  flex-direction: row;
}
.TripCount {
  width: auto;
  padding: 10px;
  margin: 15px 0 0 5px;
  height: 189px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TripCountCircle {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #FFFFFF;
  display: flex;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(191,191,191,0.6);
  -moz-box-shadow: 0px 0px 10px 5px rgba(191,191,191,0.6);
  box-shadow: 0px 0px 10px 5px rgba(191,191,191,0.6);
}
.DetailTitle, .DetailDescripton {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 400;
  margin: 5px;
  color: #4B4B4B;
}
.DetailDescripton {
  font-size: 12px;
}
.addTripButton {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #00A1FF;
  font-size: 20px;
  margin: -50px 0 15px 15px;
  position: absolute;
  left: 0;
  top: 50;

}
.newInputTrip {
  background-color: lightgrey;
  padding: 5px;
  height: auto;
  width: 265px;
  margin: -50px 0 0 15px;
  border-radius: 5px;
}
.inputNewTrip {
  height: 20px;
  width: 250px;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}
#eraserIcon {
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
}
#eraserButton {
  background-color: transparent;
  border: 1px solid transparent;
}
#eraserButton:hover {
  position: relative;
             top: -2px;
}
.tripTopContainer {
  display: flex;
  flex-direction: row;
}
.tripTopRightContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}
.tripTopLeftContainer {
  display: flex;
  align-items: center;
  width: 70%;
}
.destinationContainer {
  width: 95%;
  margin: 15px 15px 0 15px;
  border-radius: 4px;
  height: 209px;
  /* padding: 10px; */
  /* background-color: #00A1FF; */
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.MapLeftCities {
  /* min-height: 100vh; */
  height: auto;
  min-width: auto;
  width: 70%;
  /* background-color: green; */
}
.MapLeftDistances {
  display: flex;
  min-width: 200px;
  width: 30%;
  /* min-height: 100vh; */
  height: auto;
  flex-direction: column;
  margin: 0 15px 0 0;
  /* background-color: red; */
}
.MapLeftSubContainer {
  /* min-height: 100vh; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 60px;
}
.destinationMiles {
 height: 50px;
 width: 175px;
 background-color: #FFFFFF;
 border-radius: 5px;
 margin: 5px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;

}
.destinationTitle {
  font-size: 14px;
  font-weight: 200;
  font-family: sans-serif;
  margin: 5px;
  /* margin-left: 5px; */
}
#distanceIcon {
  font-size: 16px;
  color: #000000;
  margin-bottom: 5px;
}
